@font-face {
  font-family: GilroyEB;
  src: url('fonts/RadomirTinkov-Gilroy-ExtraBold.woff') format("woff"),
       url('fonts/RadomirTinkov-Gilroy-ExtraBold.woff2') format("woff2");
}

@font-face {
  font-family: GilroyL;
  src: url('fonts/RadomirTinkov-Gilroy-Light.woff') format("woff"),
       url('fonts/RadomirTinkov-Gilroy-Light.woff2') format("woff2");
}
